<center>
<br>

<br>
<div class="sessions-form-3">
<h1>Create New Event</h1>
<br>
<div class="new-event">
<form id="new-event-form" action="/events/new" method="post">
  <label for="eventName"> Event Name</label><br>

  <input class="input" id="eventName" type="text" name="eventName" value="" required autofocus></input><br><br>
  <label for="eventDate"> Event Date</label><br>
  <input class="input" id="eventDate" type="date" name="eventDate" value="" required autofocus></input><br><br>
  

  <label for="location">Choose a Location:</label>
  <br>
  <select class="input" name="location" id="location" required>
    <option value="">Select a Location:</option>
    <option value="London">London</option>
    <option value="Sheffield">Sheffield</option>
    <option value="Birmingham">Birmingham</option>
    <option value="Newcastle">Newcastle</option>
    <option value="Bristol">Bristol</option>
    <option value="Other">Other</option>
  </select>
  <br>
  <br>
  <input id="submit" type="submit" value="Submit">
</form>
</div>
</div>
</center>