<br>
<div class="new-event">
<form id="new-event-form" action="/events" method="post">
  <label for="eventName"> New event</label><br>
  <input id="eventName" type="text" name="eventName" value="" required autofocus></input>
  <input type="submit" value="Submit">
</form>
</div>