



<script>
    function openForm(id) {
        document.getElementById("add-task-form" + id).style.display = "block";
    }

    function closeForm() {
        document.getElementById("add-task-form").style.display = "none";
    }
</script>

<div id="lists">
    {{#each lists}}
    <div>
    <p>{{this.listName}}</p>
    <button onclick="openForm('{{this._id}}')">Add a Task</button>
    <div id="add-task-form{{this._id}}" class="task-form">
    <form action="/lists/tasks" method="post">
        <label for="task-name">Task</label>
        <input id="task-name" type="text" name="tasks" value="" required>
        <input type="hidden" id="listId" name="listId" value="{{this._id}}">
        <button id="submit-task" type="submit" onclick="closeForm()">Submit Task</button>   
    </form>
    </div>
    </div>
    {{/each}}
</div>


<a id="new-list" href="/lists/new">New List</a>

