<center>
<h1>Lists</h1>

<a id="new-list" href="/lists/new">Create New List</a>

<br>
<br>
<h2>Your Lists:</h2>
<div id="lists">
    {{#each lists}}
    <div class="listcss">
        <a id="listcss" href="/lists/view?list={{this._id}}">{{this.listName}}</a>
    </div>
    {{/each}}
</div>

</center>


