<a id="new-list" href="/lists/new"><h3>New List</h3></a>
<h4>{{headingText}}</h4>
<div id="lists">
    {{#each lists}}
    <div class="listcss">
        <a id="listcss" href="/lists/view?list={{this._id}}">{{this.listName}}</a>
    </div>
    {{/each}}
</div>
