
<center>
<a id="new-list" href="/lists/new"><h3>New List</h3></a>
<h4>Your lists:</h4>
<div id="lists">
    {{#each lists}}
    <div class="listcss">
        
        <div class="list-index-form">
            <br>
        <a id="listcss" href="/lists/view?list={{this._id}}"><h3>{{this.listName}}</h3></a>
        </div>
    </div>
    {{/each}}
</div>


</center>

