<center>

<div class="lists-form">
<br>
<br>
<br>
<h1>Create New List</h1>

<form id="new-list-form" action="/lists/new" method="post">
<div class="session">
  <label for="listName">List Name</label><br>
  <input class="input" id="listName" type="text" name="listName" value="" required>
  </div>
  <div class="session">
  <input id="submit" type="submit" value="Submit">
  </div>
</form>
<br>
</div>
</center>