<form id="new-list-form" action="/lists/new" method="post">
  <label for="listName">List Name</label>
  <input id="listName" type="text" name="listName" value="" required>
  <input id="submit" type="submit" value="submit">
</form>