<center>
<div class="sessions-form">
<form id="new-list-form" action="/lists/new" method="post">
<div class="session">
  <label for="listName">List Name</label></div>
  <div class="session">
  <input id="listName" type="text" name="listName" value="" required>
  </div>
  <div class="session">
  <input id="submit" type="submit" value="submit">
  </div>
</form>
</div>
</center>