body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


/* The popup form - hidden by default */
.task-form {
  display: none;
  /* position: fixed; */
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  /* z-index: 9; */
}

.countdowns{
  color: red;
  padding-top: 17px;
  float: right;
}

.logOutButton{
  float: right;
  padding-top: 15px;
}

.logout-input{
  background-color: #f8f8f8;
  border: none;
  color: #777777;
}

.logout-input:hover{
  background-color: #f8f8f8;
  border: none;
  color: black;
}
