<br>
<div class="new-song">
<form id="new-song-form" action="/songs/new" method="post">
  <label for="songTitle"> Song Title</label><br>
  <input id="songTitle" type="text" name="songTitle" value=""></input><br>
  <label for="artistName"> Artist Name</label><br>
  <input id="artistName" type="text" name="artistName" value=""></input><br>
  <input id="submit" type="submit" value="Submit">
</form>
</div>