<center>

<div class="songs-form">
<h1>Add New Song</h1>
<br>

<form id="new-song-form" action="/songs/new" method="post">
  <label for="songTitle"> Song Title</label><br>
  <input class="input" id="songTitle" type="text" name="songTitle" value=""></input><br>
  <br>
  <label for="artistName"> Artist Name</label><br>
  <input class="input" id="artistName" type="text" name="artistName" value=""></input><br>
  <br>
  <input id="submit" type="submit" value="Submit">
</form>
</div>
</center>