<center>
<div class="sessions-form">
<br>
<br>
<h1>Login</h1>
<form id="new-session-form" action="/sessions" method="post">
<div class="session">
  <label for="email">Email: </label>
  <input class="input" id="email" type="email" name="email" value="">
  </div>

  <div class="session">
  <label for="password">Password: </label>
  <input class="input" id="password" type="password" name="password" value="">
  </div>

  <div class="session">
  <input id="submit" type="submit" value="Submit">
  </div>
</form>
<br>
</div>
</center>