
<h1>{{ first_name }} </h1>



<p>Current dietary requirements: 
    {{dietary_requirements}}</p>

    <br>
  
    <form id="dietary_requirements" action="/users/dietaryrequirements" method="post" enctype=="multipart/form-data">
        <label for="dietary_requirements">Enter dietary requirements: </label>
        <textarea placeholder="Edit your dietary requirements" id="message" type="text" name="dietary_requirements" value=""rows="1" cols="50"></textarea>
        <br><button type="submit" id="diet_req_button">Submit</button>
        </form>


<p>Current wish list: 
    {{wish_list}}
    {{#each wish_list}}
    <li>{{this}}</li>
    {{/each}}
    <form id="wish_list" action="/users/wishlist" method="post" enctype="multipart/form-data">
        <label for="wish_list">Enter an item: </label>
        <textarea placeholder="Edit your wish list" id="message" type="text" name="wish_list" value=""rows="1" cols="50"></textarea>
        <br><button type="submit" id="wish_list_button">Submit</button>
        </form>


