<center>
<h1>Your Profile</h1>
<br>
<div class="profile-form">
    <br>
<p>Dietary Requirements: {{dietary_requirements}}</p>
  
    <form id="dietary_requirements" action="/users/dietaryrequirements" method="post" enctype=="multipart/form-data">
        <label for="dietary_requirements">Edit your dietary requirements: </label>
        <textarea class="input" placeholder="E.g. Vegetarian" id="message" type="text" name="dietary_requirements" value=""rows="1" cols="50"></textarea>
        <br>
        <br>
        <button type="submit" id="diet_req_button">Submit</button>
        </form>
</div>
<br>
<br>

<div class="profile-form">
    <br>
<p>Your Wish List: 
    {{#each wish_list}}
    <li>{{this}}</li>
    {{/each}}




    <form id="wish_list" action="/users/wishlist" method="post">
        <label for="wish_list">Enter an item: </label><br>
        <textarea class="input" placeholder="E.g. Socks" id="message" type="text" name="wish_list" value=""rows="1" cols="50"></textarea>
        <br>
        <br>
        <button type="submit" id="wish_list_button">Submit</button>
        </form> 
        <br>   
    </div>

</center>

